{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 9, "knowledge_revision": 18, "git_revision": "44f0b6490d4ab3ba85c4f49b1e5a49d24ca97197", "hash": "5bddfc81c81a62715ce15265cea7b56a", "format-version": 4, "code-base-name": "default", "filename": "auth-backend_service_container/requirements.txt", "revision_history": [{"18": "44f0b6490d4ab3ba85c4f49b1e5a49d24ca97197"}]}